body{
    max-width: 100vw;
}

header {
     background-color: rgb(47, 77, 133);
     color: aquamarine;
     text-align: justify;
     margin: 0 auto;
     padding: 20px;
 }



 main {
     background-color: rgb(162, 135, 236);
     color: #000000;
     text-align: center;
     margin: 0 auto;
     padding: 20px;

     display: flex;
     flex-wrap: wrap;
 }

 article {
     display: flex;

     border: 1px solid #000000;

     margin: 16px;
     gap: 16px;
     padding: 16px;

     flex: 1 1 25%;
 }

 img {
     width: 900px;
     height: 300px;
 }

 p {
     font-weight: bold;
 }