:root{
    --primeira-cor: rgb(47, 77, 133);
    --segunda-cor:  rgb(162, 135, 236);  
    --cor-letra-central: aquamarine;
    --cor-letra:#000000;
    --cor-borda:#000000;
    --cor-contraste:rgb(188, 253, 232);
    --cor-botao: #364e81;

    --fonte-texto:'Trebuchet MS', 'Lucida Sans Unicode';
}

* {
    transition: background-color 0.3s ease;
}

.tema-escuro {
    --primeira-cor: rgb(151, 182, 240);
    --segunda-cor:  rgb(54, 35, 105);  
    --cor-letra-central: rgb(60, 121, 101);
    --cor-letra:#ffffff;
    --cor-borda:#ffffff;
    --cor-contraste:rgb(68, 90, 83);
    --cor-botao: #6291f7;
    }

    .tema-escuro p {
        color: var(--cor-letra);
    }
    .tema-escuro header p {
        color: var(--cor-contraste);
        font-weight: 600;
    }
.tema-escuro a {
color: var(--segunda-cor);
}
.tema-escuro button {
border: none;
background-color: var(--cor-botao);
color: var(--cor-letra);
}
.tema-escuro article {
    background-color:  rgb(54, 35, 105); ;
}
.tema-escuro h2{
    color: var(--primeira-cor);
}
.tema-escuro .artigo-autor {
    color: var(--segunda-cor);
}
.tema-escuro .btn-tema-escuro {
    background-color: var(--segunda-cor);
}


body{
    max-width: 100vw;
    font-family: var(--fonte-texto);
}

header {
     background-color: var(--primeira-cor);
     color:  var(--cor-contraste);
     text-align: justify;
     margin: 0 auto;
     padding: 20px;
 }



 main {
     background-color: var(--segunda-cor);
     color: var(--cor-letra);
     text-align: center;
     margin: 0 auto;
     padding: 20px;

     display: flex;
     flex-wrap: wrap;
 }

 article {
     display: flex;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

     margin: 16px;
     gap: 16px;
     padding: 16px;

     flex: 1 1 25%;

     flex-direction: column;
     align-items: center;
     text-align: center;
     justify-content: center;

 }

 img {
     width: 900px;
     height: 300px;
 }

 p {
     font-weight: bold;
 }

 .btn-tema-escuro{
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 30px;
    padding: 12px;
    background-color: var(--primeira-cor);
    border-radius: 50%;
 }
