:root{
    --primeira-cor: rgb(47, 77, 133);
    --segunda-cor:  rgb(162, 135, 236);  
    --cor-letra-central: aquamarine;
    --cor-letra:#000000;
    --cor-borda:#000000;
    --cor-contraste:rgb(188, 253, 232);

    --fonte-texto:'Trebuchet MS', 'Lucida Sans Unicode';
}
.tema-escuro {
    --primeira-cor: rgb(151, 182, 240);
    --segunda-cor:  rgb(54, 35, 105);  
    --cor-letra-central: rgb(60, 121, 101);
    --cor-letra:#ffffff;
    --cor-borda:#ffffff;
    --cor-contraste:rgb(68, 90, 83);
}
.tema-escuro a {
    color: var(--segunda-cor);
}
.tema-escuro p {
    color: var(--cor-letra);
}
.tema-escuro header p{
    color: var(--cor-contraste);
}

body{
    max-width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode' ;
}

header {
     background-color: var(--primeira-cor);
     color:  var(--cor-letra-central);
     text-align: justify;
     margin: 0 auto;
     padding: 20px;
 }



 main {
     background-color: var(--segunda-cor);
     color: var(--cor-letra);
     text-align: center;
     margin: 0 auto;
     padding: 20px;

     display: flex;
     flex-wrap: wrap;
 }

 article {
     display: flex;

     border: 1px solid var(--cor-borda);

     margin: 16px;
     gap: 16px;
     padding: 16px;

     flex: 1 1 25%;

     flex-direction: column;
     align-items: center;
     text-align: center;
     justify-content: center;

 }

 img {
     width: 900px;
     height: 300px;
 }

 p {
     font-weight: bold;
 }